<!--  sidebars-->
<div class="sidebar">
  <a class="url-logo sidebar-general">
    <div class="logo-name">
      <i class="bi bi-emoji-heart-eyes"></i>
      ADMIN
    </div>
  </a>
  <hr class="m-0">
  <a class="sidebar-general">
    <div class="dashboard-name">
      <i class="bi bi-speedometer"></i>
      <span> Dashboard</span>
    </div>
  </a>
  <hr class="mt-3 mb-3">
  <p class="sidebar-dark">Quản lý học sinh</p>
  <div class="dropdown">
    <a class="sidebar-general drop-link-action dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      <div class="dashboard-name dashboard-link">
        <i class="bi bi-clipboard-data"></i>
        <span> Menu học sinh</span>
        <i class="bi bi-chevron-down float-end"></i>
      </div>
    </a>
    <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" routerLink="/student-list">Danh sách học sinh</a></li>
      <li><a class="dropdown-item" routerLink="/student-create">Thêm mới học sinh</a></li>
    </ul>
  </div>
  <hr class="mt-3 mb-3">
  <p class="sidebar-dark">Quản lý khóa hè</p>
  <div class="dropdown">
    <a class="sidebar-general drop-link-action dropdown-toggle" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
      <div class="dashboard-name dashboard-link">
        <i class="bi bi-clipboard-data"></i>
        <span> Menu khóa hè</span>
        <i class="bi bi-chevron-down float-end"></i>
      </div>
    </a>
    <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton2">
      <li><a class="dropdown-item" href="#">Danh sách khóa hè</a></li>
      <li><a class="dropdown-item" href="#">Thêm mới khóa hè</a></li>
    </ul>
  </div>
</div>
