<div class="container">
  <div class="card">
    <h5 class="card-header">
      Danh sách học sinh
      <button class="btn btn-primary float-end">Thêm mới</button>
    </h5>
    <div class="card-body">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Họ và tên</th>
          <th scope="col">Năm sinh</th>
          <th scope="col">Giới tính</th>
          <th scope="col">Người thân</th>
          <th scope="col">Số điện thoại người thân</th>
          <th scope="col">Địa chỉ</th>
          <th scope="col">Thông tin</th>
          <th scope="col">Chỉnh sửa</th>
          <th scope="col">Xóa</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let student of listStudent">
          <th scope="row">{{student.id}}</th>
          <td>{{student.name}}</td>
          <td>{{student.yearBirth}}</td>
          <td>{{student.gender}}</td>
          <td>{{student.relativeName}}</td>
          <td>{{student.relativePhone}}</td>
          <td>{{student.address}}</td>
          <td>
            <button type="button" class="btn btn-info" (click)="findById(student.id)"
                    data-bs-toggle="modal" data-bs-target="#showStudentInfo">
              Thông tin
            </button>
          </td>
          <td>
            <a href="" class="btn btn-warning">Chỉnh sửa</a>
          </td>
          <td>
            <a href="" class="btn btn-danger">Xóa</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer text-muted">
      <nav aria-label="Page navigation example" class="float-end">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<!--Modal student info-->
<div class="modal fade" id="showStudentInfo" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thông tin học sinh</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">

          <div class="row mb-4">
            <div class="col-6">
              <label for="student-name" class="form-label">Họ và tên</label>
              <input type="text" class="form-control" id="student-name" [value]="student.name">
            </div>
            <div class="col-6">
              <label for="dharma-name" class="form-label">Pháp danh</label>
              <input type="text" class="form-control" id="dharma-name" [value]="student.dharmaName">
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-6">
              <label for="birth-year" class="form-label">Năm sinh</label>
              <input type="text" class="form-control" id="birth-year" [value]="student.yearBirth">
            </div>
            <div class="col-6">
              <div class="row">
                <div class="col-6">
                  <label for="gender" class="form-label">Giới tính</label>
                  <input type="text" class="form-control" id="gender" [value]="student.gender">
                </div>
                <div class="col-6">
                  <label for="register-for-refuge" class="form-label">Đăng ký quy y</label>
                  <input class="form-check-input form-control btn-lg" type="checkbox" id="register-for-refuge" [value]="student.registerForRefuge">
                </div>
              </div>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-6">
              <div class="row">
                <div class="col-6">
                  <label for="weight" class="form-label">Cân nặng</label>
                  <input type="text" class="form-control" id="weight" [value]="student.weight">
                </div>
                <div class="col-6">
                  <label for="height" class="form-label">Chiều cao</label>
                  <input type="text" class="form-control" id="height" [value]="student.height">
                </div>
              </div>
            </div>
            <div class="col-6">
              <label for="relative-phone" class="form-label">Số điện thoại người thân</label>
              <input type="text" class="form-control" id="relative-phone" [value]="student.relativePhone">
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-12">
              <label for="address" class="form-label">Địa chỉ nơi ở hiện nay</label>
              <input type="text" class="form-control" id="address" [value]="student.address">
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-12">
              <p class="form-label">Trạng thái hồ sơ</p>
              <input type="text" class="form-control" [value]="student.status">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
